.App {
  text-align: center;
  overflow-x: hidden;
}

nav {
  background-color: var(--light-blue);
  padding: 20px;
  text-align: right;
}

nav a {
  margin: 0 20px;
  color: var(--cream);
}

nav a:hover { 
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: bold;
}

section {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #F7FFF7;
}

section h1 {
  color: #2F3061;
}

.subsection {
  padding: 20px;
}